fastapi
uvicorn[standard]
pydantic[email]
python-jose[cryptography]
passlib[bcrypt]
numpy
pandas
scikit-learn
imbalanced-learn
xgboost
shap
psycopg2-binary
asyncpg
sqlalchemy
redis
httpx
joblib
python-multipart